<%= link_to 'Back', root_url %>

<h2>Your Search Returned <%= @job_results.count %> Results!</h2>

<% @job_results.each do |job| %>
  <strong>Job Title: <%= job.title %></strong><br>
  <a href="<%= job.landing_page %>" target="_blank">View Position</a><br>
  Company: <%= job.company_name %><br>
  <p></p>
<% end %>