<%= link_to 'Back', root_url %>

<h2>Your Search Returned <%= @search.job_count%> Results!</h2>
<% if @search.job_count > 50 %>
  <h3>Here are the first 50:</h3>
<% end %>

<% @jobs.each do |job| %>
  <strong>Job Title: <%= job.title %></strong><br>
  <a href="<%= job.landing_page %>">View Position</a><br>
  Company: <%= job.company %><br>
  <a href="<%= job.company_website %>">View Company</a><br>
  <p><img src="<%= job.company_pic %>" width="450" height="300"></p>
<% end %>


